<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
    <div class="container">
        <form th:method="post" th:action="@{/reserve}">
            <div class="row mt-5">
                <div class="col-4">
                    <div class="row">
                        <label>가맹점</label>
                        <select id="merchant" th:name="merchantCode">
                            <th:block th:each="merchant : ${merchantList}">
                                <option th:value="${merchant.merchantCode}" th:text="${merchant.merchantName}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="row">
                        <label>테마</label>
                        <select id="theme" th:name="themeCode">
                            <th:block th:each="theme : ${themeList}">
                                <option th:value="${theme.themeCode}" th:text="${theme.themeName}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="row">
                        <label>예약 날짜</label>
                        <input id="reservedAt" type="date" th:name="reservedAt"/>
                    </div>
                    <div class="row">
                        <label>핸드폰 번호</label>
                        <input type="text" th:name="phoneNumber"/>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">예약하기</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
<script th:src="@{/js/reservation/reserve.js}"></script>
</body>
</html>